<% if @result %>
  <div class="well results-block border1">
    <hi><strong><%= @result.to_s %> </strong></hi>

    <!--    <p><strong>Лайки: </strong> <%#= @post.likes_count %>-->
    <!--      <strong>Комменты: </strong> <%#= @post.comments_count %>-->
    </p>

  </div>
<% end %>