<div class="v-offst-15">
  <footer id="footer" class="fixed-bottom footer">
  <span class="text-muted text-right right">
    <p class="text-right"> v. 0.0.41 от 09.05.19 </p>
  </span>
  </footer>
</div>